<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="checkbox" id="liyin" value="赵丽颖" v-model= "stars">
        <label for="liyin">赵丽颖</label>
        <input type="checkbox" id="liuyan" value="柳岩" v-model= "stars">
        <label for="liuyan">柳岩</label>
        <input type="checkbox" id="cang" value="苍井空" v-model= "stars">
        <label for="cang">苍井空</label>
        <div v-for="star in stars">{{ star }}</div>
        <table>
            <thead>
                <tr>
                    <th>参加人员</th>
                </tr>
                <tbody>
                    <tr v-for="star in stars">
                        <td>{{star}}</td>
                    </tr>
                </tbody>
            </thead>
        </table>
    </div>
</body>
</html>
<script src="./static/vue.min.js"></script>
<script>
    new Vue ({
        el: "#app",
        data: {
            stars: []
        }
    })
</script>